table {
    width: 100%;
    color: green;
  }
  .mat-cell {
    color: green;
}
  .make-red{
    .mat-cell {
      color: red;
  }
}
.md-tabs-canvas {
  md-pagination-wrapper, md-tabs-dummy-wrapper {
      white-space: nowrap;
      md-tab-item, md-dummy-tab {
          float: none;
          display: inline-block;
      }
  }
}