<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <img src="./././assets/logo.jpg" class="logo">
        <mat-card *ngIf="account" class="example-card">
            <mat-card-title>Account Information</mat-card-title>
            <mat-card-content>
                <p>Wellcome</p>
                <p>{{account.firstName}} {{account.lastName}} </p>
                <br>
                <p>Your account created at: </p>
                <p>{{account.openDate | date:'short'}} </p>
                <p>Your balance account is: </p>
                <p>{{account.balance}} $</p>
            </mat-card-content>
            <button mat-button> <a routerLink="/add-transaction">Create Transaction</a></button>
            <button mat-button> <a routerLink="/operation-history">View Operations History</a></button>

        </mat-card>
    </div>
</body>

</html>